@font-face {
  font-family: Space-Mono;
  src: local("Space Mono"), url("./assets/fonts/SpaceMono-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
:root {
  /* Primary */
  --primary-strong-cyan: hsl(172, 67%, 45%);

  /* Neutral */
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --fs-p: 1.5rem;
}

/* RESET */
/* Josh Comeau custom css reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* BASE STYLES */
/* Layout */

body {
  font-family: "Space Mono", monospace;
  font-size: var(--fs-p);
  min-height: 100dvh;
  background-color: var(--light-grayish-cyan);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-inline: auto;
  margin-bottom: 5rem;
}

.tip-calculator {
  background-color: var(--white);
  padding: 1em 0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 67.5rem;
}

fieldset {
  border: none;
  padding: 0;
}

.input-section,
.result-section {
  flex: 1;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}

.result-section {
  padding: 1.5em 1em 1em 1em;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.amount {
  display: flex;
  flex-direction: column;
}

/* STYLES */

label:has(span),
legend,
.amount {
  color: var(--grayish-cyan);
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

.bill,
.tip,
.people {
  margin-bottom: 1rem;
}

input {
  background-color: var(--very-light-cyan);
  text-align: right;
  padding: 1em;
  outline-color: transparent;
  color: var(--very-dark-cyan);
}

input::placeholder {
  color: var(--very-dark-cyan);
  font-size: 1.25rem;
}

input:focus {
  border: 0.125rem solid var(--primary-strong-cyan);
}

input:invalid {
  border: 0.125rem solid tomato;
}

.number::placeholder {
  color: var(--light-grayish-cyan);
}

#bill {
  background-image: url("./assets/images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position: 1rem center;
}

#people {
  background-image: url("./assets/images/icon-person.svg");
  background-repeat: no-repeat;
  background-position: 1rem center;
}

button {
  background-color: var(--very-dark-cyan);
  color: var(--white);
}

button:hover {
  background-color: var(--light-grayish-cyan);
  color: var(--very-dark-cyan);
  cursor: pointer;
}

input,
button {
  border-color: transparent;
  width: 100%;
  border-radius: 0.5rem;
  padding-block: 0.25em;
}

button[type="reset"] {
  text-transform: uppercase;
}

label {
  cursor: pointer;
}

input[type="radio"] ~ label {
  text-align: center;
  background-color: var(--very-dark-cyan);
  color: var(--white);
  display: inline-block;
  border-radius: 0.5rem;
  padding-block: 0.25em;
}

input[type="radio"]:focus + label {
  outline: 4px solid var(--primary-strong-cyan);
}

input[type="radio"]:hover + label {
  background-color: var(--light-grayish-cyan);
  color: var(--very-dark-cyan);
}

input[type="radio"]:checked + label {
  background-color: var(--primary-strong-cyan);
  color: var(--very-dark-cyan);
}

.result-section {
  background-color: var(--very-dark-cyan);
  border-radius: 1rem;
}

.amount__text {
  color: var(--very-light-cyan);
}

.amount__sub-text {
  font-size: 0.75rem;
}

.amount__number {
  font-size: 2rem;
  color: var(--primary-strong-cyan);
}
.amount__button {
  background-color: var(--primary-strong-cyan);
  color: var(--very-dark-cyan);
  font-size: 1.25rem;
}

.flex-default {
  display: flex; /* Enable flexbox on the parent */
  justify-content: space-between; /* Space out children */
}
.invalid {
  color: tomato;
}

.hidden {
  display: none;
}

@media screen and (min-width: 60rem) {
  .title {
    margin-bottom: 3rem;
  }
  .tip-calculator {
    flex-direction: row;
    padding: 1.25em 1.25em 1.25em 1.75em;
    align-items: stretch;
    gap: 2em;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .input-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .result-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5em;
  }
  .wrapper {
    margin-bottom: 1rem;
  }
  .custom {
    text-align: center;
  }
}
